@import "addons.scss";
@import "vaddinpractice.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in vaddinpractice.scss */
.vaddinpractice {
  @include addons;
  @include vaddinpractice;
}

/* Centering a caption */
.v-caption-in-middle .v-captiontext {
    float: none; /* Floating has to be disabled */
    text-align: center;
}

/* Right-aligning a caption */
.v-caption-on-right .v-captiontext {
    float: right;
}